
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav style */
nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 150px;
}
/* header syle */
header{
  background-image: url(/Hero-bg.png);
  /* width: 1440px;
  height: 698px; */
  gap: 158px;
}
.logo{
  color: #4E47FF;
  line-height: 150px ;
  font-weight: black;
  font-size: 40px;

}
nav ul li {
  list-style: none;
}
/* button style */
.btn_primary{
  background-color:#4E47FF ;
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding: 12px 36px;
  border-radius: 10px;
  gap: 10px;
}
/* .btn_secondary{
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #4E47FF;
  border-radius: 10px;
  gap: 10px;
  margin: 12px;
} */
/* banner style */
.banner{
  text-align: center;
  padding: 309px 268px 152px;
}
.banner li {
  list-style: none;
  gap:37px ;
}
.banner_tittle{
  font-weight: bold;
  font-size: 65px;
  color: #252432;
}
.second_banner{
  /* list-style: none; */
  display: flex;
  
  
  
}
/* .second_banner_contrain{
  display: flex;
} */
 .banner_s{
  display: flex;
  gap: 220px;
  /* margin-top: 116px ; */
  margin: 116px 140px 160px 116px;
  justify-content: space-between;
  
 }
 .banner_s_tittle{
  font-weight: bold;
  font-size:42px ;
  color:#252432 ;
 }
 .banner_s_description{
  font-size: 24px;
 }
 .banner_s img{
  width: 403px;
  height: 328px;
  border-radius: 48px;
  
 }
 /* color share  */
 
 /* product_user syle */
 .productives{
  background-color: rgb(200, 197, 232);
  border-radius: 24px;
  width: 1140px;
  margin: 0 auto;
  /* padding-top: 50px 142px; */
   gap: 50px;
   padding: 50px 40px; 
   

 }
  .productives_tittle{
    color: #252432;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    margin-top: -5px;
    
  }
  .productiv_items{
    display: flex;
    justify-content: space-around;
    
  }
  .productiv_description{
    font-size: 15px;
  }
  .prodictiv_num{
    /* margin-bottom: 0; */
    font-size: 80px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    line-height: 1; 
    margin: 0;
    padding: 0px;
    
  }
  .number{
    font-size: 80px;
    font-weight: bold;
    line-height: 1;
  }
  /* share color */
  .primary_color{
    color: #4E47FF;
  }

   
  
  



  